<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical is-hidden-mobile">
            <article class="tile is-child notification is-info has-text-centered">
              <div id="plot" style="width: 400px; height: 400px;"></div>
            </article>
            <article class="tile is-child notification is-info">
              <p id="current-spectators" class="light">spectators: </p>
              <p id="current-mode" class="light">mode: </p>
              <p id="current-speed" class="light">current speed: 0</p>
              <p id="current-angle" class="light">current direction: 0</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-info has-text-centered">
              <div id="joystick-container" style="display:none;">
                <canvas id="joystick" height="200" width="200"></canvas>
                <p id="valSpeed" class="light">speed: 0</p>
                <p id="valAngle" class="light">direction: 0</p>
              </div>
              <div id="joystick-video">
                <img src="http://193.2.178.148:5000/video_feed" width="450" height="300" style="transform: scale(-1);">
              </div>
              <div id="joystick-placeholder" style="display:none;">
                Multiplayer is not enabled.
              </div>
            </article>
          </div>
        </div>
        <div id="select-mode" class="tile is-parent is-hidden-mobile" style="display:none;">
          <article class="tile is-child notification is-info has-text-centered">
            <div id="mode-list" class="content">
              <a class="button is-info is-inverted is-active" id="mode-single">Single Player</a>
              <a class="button is-info is-inverted is-outlined" id="mode-democracy">Democracy</a>
              <a class="button is-info is-inverted is-outlined" id="mode-anarchy">Anarchy</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
