@import bulma/bulma.sass

body,
html
  min-height: 100%

@media all and (max-width: 768px)
  body,
  html
    overflow-y: hidden
    position: fixed
    width: 100%

body,
html,
section.section
  background-color: #2A2F5C

#joystick
  height: 200px
  width: 200px
  border-radius: 200px
  text-align: center
  background-color: #80d5ff
  font: 24px / 200px Helvetica, Arial, sans-serif
  cursor: all-scroll
  user-select: none
  z-index: -100

body
  user-select: none

.hero-body
  padding: 1.5rem

.notification
  padding: 1.25rem 1.5rem 1.25rem 1.5rem

.pp-footer
  color: whitesmoke
